*{
    margin: 0;
    padding: 0;
}
.slideshow-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
   
}
.slide img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    opacity: 0.5;
}
.control{
    position: absolute;
top:0;  
width: 15vw;
height: 100%;
background-color: rgba(92,94,97,0.6);
}